{% if tnum == 1 %}
 router bgp {{ cgw_bgp_asn }}
 timers bgp 5 {{cgw_bgp_ht}}
 network {{localcidr}}
{% endif %}
! tunnel# {{ tnum }}
{% if vgw_in_v6addr != "" %}
 neighbor {{ vgw_in_v6addr }} remote-as {{ vgw_bgp_asn }}
 neighbor {{ vgw_in_v6addr }} update-source {{ cgw_in_v6addr }}
 neighbor {{ vgw_in_v6addr }} next-hop-self
{% else %}
 neighbor {{ vgw_in_addr }} remote-as {{ vgw_bgp_asn }}
 neighbor {{ vgw_in_addr }} update-source {{ cgw_in_addr }}
 neighbor {{ vgw_in_addr }} next-hop-self
!
{% endif %}
