
#tunnel# {{ tnum }}
conn {{ vgw_out_addr }}
{% if startact != "" %}
    auto={{ startact }}
{% else %}
    auto=start
{% endif %}
    left=%defaultroute
    leftid={{ cgw_out_addr }}
    right={{ vgw_out_addr }}
    type={{ ipsec_mode }}
    leftauth=psk
    rightauth=psk
{% if keych != "" %}
    keyexchange={{ keych }}
{% else %}
    keyexchange=ikev1
{% endif %}
{% if ike != "" %}
    ike={{ ike }}
{% else %}
    ike={{ ike_encryption_protocol }}-{{ ike_authentication_protocol }}-modp1024
{% endif %}
    ikelifetime={{ ike_lifetime }}s
{% if esp != "" %}
    esp={{ esp }}
{% else %}
    esp={{ ipsec_encryption_protocol }}-{{ ipsec_authentication_protocol }}-modp1024
{% endif %}
    lifetime={{ ipsec_lifetime }}s
    keyingtries=%forever
{% if leftsubnet != "" %}
    leftsubnet={{ leftsubnet }}
{% else %}
    leftsubnet=0.0.0.0/0
{% endif %}
{% if rightsubnet != "" %}
    rightsubnet={{ rightsubnet }}
{% else %}
    rightsubnet=0.0.0.0/0
{% endif %}
{% if rkmg != "" %}
    margintime={{ rkmg }}
{% endif %}
{% if rkfz != "" %}
    rekeyfuzz={{ rkfz }}
{% endif %}
{% if ipsec_fragmentation_before_encryption != "" %}
    fragmentation={{ ipsec_fragmentation_before_encryption }}
{% endif %}
{% if rplw != "" %}
    replay_window={{ rplw }}
{% endif %}
    dpddelay={{ dpd_delay }}s
{% if dpdtimeout != "" %}
    dpdtimeout={{ dpdtimeout }}s
{% endif %}
{% if dpdact != "" %}
    dpdaction={{ dpdact }}
{% else %}
    dpdaction=restart
{% endif %}
    mark={{ tnum }}00
{% if remotecidr != "" %}
    leftupdown="/etc/strongswan/ipsec.d/aws-updown.sh -ln Tunnel{{ tnum }} -ll {{ cgw_in_addr }}/{{ cgw_in_cidr }} -lr {{ vgw_in_addr }}/{{ vgw_in_cidr }} -m {{ tnum }}00 -r {{remotecidr}}"
{% else %}
    leftupdown="/etc/strongswan/ipsec.d/aws-updown.sh -ln Tunnel{{ tnum }} -ll {{ cgw_in_addr }}/{{ cgw_in_cidr }} -lr {{ vgw_in_addr }}/{{ vgw_in_cidr }} -m {{ tnum }}00"
{% endif %}
